/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    overflow-x: hidden;
}
hr{
    opacity: .4;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #1876f2;
}


.logo:hover {
    color: black;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu ul li {
    display: flex;
    align-items: center;
}

.nav-menu ul li a {
    color: darkgrey;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu ul li img.icon {
    width: 20px;
    margin-right: 8px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recherche {
    display: flex;
    align-items: center;
    background-color: #efefef;
    border-radius: 20px;
    padding: 0 15px;
}

.recherche input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.recherche img {
    height: 20px;
}

#profil-header {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#messenger-header {
    height: 40px;
    width: 40px;
   
}

/* Burger menu */
.burger {
    cursor: pointer;
    display: none;
}

#burger-icon, #close-icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #000;
}

#close-icon {
    display: none;
}




/* ---------------------------------------main--------------------------------------------------------------------------------------------------------------------------- */
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 30px;
}



.left_sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 90px;
    align-self: flex-start;
    height: 115vh;
}
.left_sidebar:hover{
    overflow-y: scroll;
}

.right_sidebar {
    /* background-color: #fff; */
    flex-basis: 25%;
    padding:10px 20px ;
    height: 89vh;
    /* border-radius: 4px; */
    color: #626262;
    position: sticky;
    top: 70px;
    align-self: flex-start;  
    
}
.right_sidebar:hover{
    overflow-y: scroll;
}

/* =========================scroll bar======================== */
::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-track{
    background:transparent;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,transparent);
   border-radius: 10px;
}
/* =========================scroll bar======================== */

.main_content {
    flex-basis: 47%;
}
.main_content:hover{
    overflow-y: scroll;
}

.important_link a,
.raccourcis a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.left_sidebar a:hover{
    background-color: #9a9a9a2c;
    border-radius: 5px;
    width: 300px;
}
.left_sidebar a{ 
    color: rgba(0, 0, 0, 0.845);
    
}

.important_link a img {
    width: 25px;
    margin-right: 15px;
}



.important_link {
    border-bottom: 1px solid #ccc;
}

#profil-sidebar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

summary{
    color: #9a9a9a;
}
summary:hover{
    cursor: pointer;
}

.raccourcis a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.raccourcis p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

.right_sidebar hr{
    margin-block: 20px;
}

.sider_bar_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.right_sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}

.sider_bar_title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.sponsore {
    display: flex;
    gap: 10px; 
    font-size: 14px;
}
.sponsore:hover{
    background-color: #9a9a9a30;
    border-radius: 5px;
}

.sponsore .Left_sponsore img{
    height: 80px;
    width: 80px;
}

.sponsore .Right_sponsore{
    align-self: center;
}

.sponsore .Right_sponsore p {
    font-size: 12px;
}

.sponsore .Right_sponsore a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}


.eve img{
    height: 150px;
    border-radius: 4px;
    margin-top: 5px;
}


.online_list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.online_list:hover{
    background-color: #9a9a9a3d;
    border-radius: 5px;
}

.online_list .online_icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.online_list .online_icon {
    width: 40px;
    
    border-radius: 50%;
    margin-right: 15px;
}

.online_list .online_icon::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #41db51;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    margin-top: 30px;
    left: 47px;
    
}

.story_gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/profil\ header.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin-top: 5px;
    border: 2px solid #1876f2;
}


.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/cake\ design.jpg);
}


.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/shaun\ the\ sheep.jpg);
}

.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/sheep\ \(1\).jpeg);
}

.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/sheep\ \(2\).jpeg);
}

.story1 img {
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
    height: 35px;
}

.post_container {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px ;
    color: #626262;
}

.user_profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user_profile input{
    padding: 5px;
    border-radius: 20px;
    border:none;
    width: 100%;
    /* width: 430px; */
    padding: 10px 80px 10px 10px;
    outline: none;
    background-color: #F2F2F2;
}


.user_profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.post_container hr{
    margin-block: 15px;
    opacity: .4;
}


.post_input_container {
    margin-top: 40px;
}

.add_post_link {
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
}

.add_post_link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add_post_link a img {
    width: 20px;
    margin-right: 10px;
}

.post_container {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-post img{
    border: 2px solid rgba(13, 13, 224, 0.658)

}

.user_profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post_text {
    color:black;
    font-size: 15px;
    margin: 15px 0;
}

.post_text span {
    color: #626262;
    font-weight: 500;
}

.post_text a {
    color: #1876f2;
    text-decoration: none;
}

.post_img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post_vid {
    width:100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post_row {
    margin-top: 5px;
    
    
}


.activity_icon  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity_icon img{
    width: 20px;
}
.like{
    display: flex;
    align-items: center;
   gap: 3px;
}

.comment-share {
    display: flex;
    align-items: center;
    gap: 16px;
}

.share-post {
    display: flex;
    align-items: center;
    gap: 7px;
}
.comn-post{
    display: flex;
    align-items: center;
    gap: 7px;
}



.post_profile_icon {
    display: flex;
    align-items: center;
}

.post_profile_icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post_row a {
    color: #9a9a9a;
}

.our_btn {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #626262;
    background: transparent;
    border-radius: 4px;
    text-decoration: none;
}
.footer{
    text-align: center;
    color: black;
    padding: 10px 0 20px;
    font-size: 13px ;
}
.setting_menu{
    position: absolute;
    width: 90%;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.5s;
}
.setting_menu-height{
    max-height:450px ;
}
.user_profile a{
    font-size: 12px;
    color:#1876f2 ;
    text-decoration: none;
}

.setting-menu-inner{
    padding: 20px ;
}
.setting_menu hr{
    border: 0;
    height: 1px;
    background-color: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-links .setting-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
.setting-links:hover{
    background-color: #9a9a9a26;
    border-radius: 15px ;
}
/* =========================profile page======================== */

.profile-container{
    padding: 20px 15%;
    color: #626262;
}
.cover-img{
    width: 100%;
    height: 300px;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.pd-row{
    display: flex;
    align-items: flex-start;
}
.pd-img{
    width: 100px;
    margin-right:20px ;
    border-radius: 6px;
}
.pd-row div h3{
    font-size: 25px;
    font-weight: 600;

}
.pd-row div p{
    font-size: 13px;
}
.pd-row div img{
    width: 25px;
    height: 25px;
    border-radius:50% ;
    margin-top: 12px;
}
.pd-right button{
    background-color:#1876f2;
    border: 0;
    outline: 0;
    color: white;
    padding: 6px 10px;
    display: inline-flex;
    /* display: flex; */
    align-items: center;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.pd-right button:first-child{
    background-color: #9a9a9a37;
    color: black;
}
.pd-right{
    text-align:right ;
}
.pd-right a{
    background-color: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}
.pd-right a img{
    width: 20px;
}
.profile-info{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.info-col{
    flex-basis: 33%;
}
.post-col{
    flex-basis: 65%;
}
.profile-intro{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-intro h3{
    font-weight:600 ;
}
.intro-text{
    text-align: center;
    margin:10px 0 ;
    font-size: 15px;
}
.profile-intro hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}
.profile-intro ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.profile-intro ul li img{
    width: 26px;
    margin-right: 10px;
    
}
.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box a{
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(3, auto) ;
    grid-gap:10px;
    margin-top: 15px;
}
.photo-box div img{
    width: 100%;
    height: 100px;
    cursor: pointer;
}
.profile-intro p{
    font-size:14px ;
}
.freind-box{
    display: grid;
    grid-template-columns: repeat(3, auto) ;
    grid-gap:10px;
    margin-top: 15px;
}
.freind-box div img{
    width: 100%;
    height: 100px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
  
}

.messenger-menu .part1{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}
.messenger-menu .part1 img{
    height: 10px;
    width: 30px;
}
.messenger-menu .recherche{
    margin-top: 10px;
}
.messenger-menu .part3 button{
    border: none;
    background-color: #1876f233;
    color: blue;
    border-radius: 14px;
    padding: 7px;
    margin-top:15px;
}

.messenger-menu  #comm{
    background-color: white;
    color: black;
}
.messenger-menu .invi-messa{
    display: flex;
}
.messenger-menu .invi-messa img{
    height: 40px;
    width: 40px;
    background-color: #9a9a9a46;
    border-radius: 50%;
    padding: 7px;
}
.messenger-menu .invi-messa p{
    color: rgb(0, 0, 0);
    font-size: medium;
    margin-left: 18px;
}
.messenger-menu .invi-messa span{
    font-size: small;
}

.online_list .lu{
    font-size: small;
    color: #9a9a9a;
}
.online_list .horaire{
    color: #9a9a9a;
}
.messenger-menu .online_list span{
    font-size: small;
}
.messenger{
    position: absolute;
    width: 90%;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0 ;
    transition: max-height 0.3s;

}
.messenger-menu{
    padding: 20px 20px 30px 20px;
}
.messenger-height{
    max-height:450px ;
}
.footer img{
    height: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}










/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .logo {
        font-size: 20px;
    }
    
    .nav-menu ul li {
        width: 100%;
    }

    .recherche {
        display: none;
    }
   
   
}


@media (max-width: 768px) {
     header{
       background-color: #1876f2;
     }
    .logo {
        font-size: 20px;
        color: #000;
    }
    
    .nav-menu ul {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
        background-color: white;
        padding: 20px;
        display: none; /*Ensure it is hidden by default*/
        top: 50px;
    }

    .nav-menu ul li {
        width: 100%;
    }

    .burger {
        display: block;
    }

    #burger-icon, #close-icon {
        width: 38px;  
        height: 38px; 
      
    }


    .recherche {
        display: none;
    }

    /* Show the menu when active */
    .nav-menu.active ul {
        display: flex; /* Show the menu */
    }
    .right_sidebar {
        display: none;
    }

    .left_sidebar {
        display: none;
    }
   .container{
    padding: 10px;
   }
   .main_content{
    flex-basis: 100%;
   }
   body{
    min-width: 420px;
   }
   .info-col{
    display: none;
   }
   .post-col{
    flex-basis: 100%;
   }
   .messenger{
    /* width: 20%; */
    max-width: 300px;
   }
}
@media (max-width: 430px) {
    .logo {
        font-size: 20px;
    }
    

    .nav-menu ul li {
        width: 100%;
    }

    .burger {
        display: block;
    }

    #burger-icon, #close-icon {
        width: 38px;  
        height: 38px; 
      
    }

    /* Show the menu when active */
    .nav-menu.active ul {
        display: flex; /* Show the menu */
    }
   .main_content{
    flex-basis: 100%;
   }
   body{
   min-height: 50px;
   }
   .post-col{
    flex-basis: 100%;
   }
   .setting_menu{
    max-width: 250px;
   }
   .messenger{
    /* width: 20%; */
    max-width: 250px;
   }
}